{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% block pagetitle %}{% endblock %}</h6>
        <div class="text-muted pt-3">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}