{% extends "miujsag/miujsag_base.html.twig" %}

{% block bodytags %}lang=HU link=navy vlink=maroon style='word-wrap:break-word;line-break: strict'{% endblock %}

{% set tartalom %}
    <ol>
        <li><a href="#__RefHeading___Toc8690_1134831791"><span class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Bevezetés</span></span></a></li>
        <ol>
            <li><a href="#__RefHeading___Toc1202_1978981079"><span class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Az Adatkezelő adatai</span></span></a></li>
            <li><a href="#__RefHeading___Toc5190_3796039561"><span class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Fogalom meghatározások</span></span></a></li>
        </ol>
        <li><a href="#__RefHeading___Toc5192_3796039561"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>A szabályzat célja</span></span></a></li>
        <li><a href="#__RefHeading___Toc5196_3796039561"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Személyes adatkezelésre vonatkozó alapelvek</span></span></a></li>
        <li><a href="#__RefHeading___Toc8702_1134831791"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatfeldolgozók</span></span></a></li>
        <ol>
            <li class=MsoToc3><a href="#__RefHeading___Toc3015_4046314205"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Hirdetések, szerződések feldolgozása és tárolása</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc3017_4046314205"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Tárhely szolgáltató</span></span></a></li>
        </ol>
        <li class=MsoToc2><a href="#__RefHeading___Toc8704_1134831791"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>5. A
Társaság által végzett adatkezelések</span></span></a></li>
        <ol>
            <li class=MsoToc3><a href="#__RefHeading___Toc5210_3796039561"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatkezelés célja</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc5218_3796039561"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatkezelés időtartama</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc5220_3796039561"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatkezelés módja</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc5222_3796039587"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatkezelés módja</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc5222_3796039561"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Kezelt adatok</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc3074_3404305204"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Adatkezelésre jogosultak</span></span></a></li>

            <li class=MsoToc3><a href="#__RefHeading___Toc5224_3796039561"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Az adatkezeléshez kötődő feladatok</span></span></a></li>
        </ol>
        <li class=MsoToc2><a href="#__RefHeading___Toc1212_1978981079"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>A honlap látogatóinak adatai</span></span></a></li>
        <li class=MsoToc2><a href="#__RefHeading___Toc5258_1978981079"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>7.
Adatvédelmi incidens</span></span></a></li>
        <ol>
            <li class=MsoToc2><a href="#__RefHeading___Toc5258_1978981080"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>7.1. Fogalma</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5258_1978981081"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>7.2. Miért fontos, hogy a megtörtént adatvédelmi incidenst mielőbb kezeljék?</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5258_1978981082"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>7.3. Adatvédelmi incidens esetén a teendők</span></span></a></li>
        </ol>
        <li class=MsoToc2><a href="#__RefHeading___Toc5227_1978981079"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>Az
Ön jogai</span></span></a></li>
        <ol>
            <li class=MsoToc2><a href="#__RefHeading___Toc5229_1978981079"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.1. Hozzáférés joga</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5231_1978981079"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.2. Helyesbítéshez
            való jog</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5233_1978981079"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.3. Az adat törléséhez való jog</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5235_1978981079"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.4. Adatkezelés korlátozásához való jog</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5229_1978981083"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.5. Tiltakozáshoz való jog</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5229_1978981081"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.6. Hordozhatósághoz való jog</span></span></a></li>

            <li class=MsoToc2><a href="#__RefHeading___Toc5229_1978981080"><span
                            class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>8.7. hozzájárulás visszavonásához való jog
</span></span></a></li>
        </ol>
        <li class=MsoToc2><a href="#__RefHeading___Toc5249_1978981079"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>9.
Jogorvoslati jog</span></span></a></li>
    </ol>
{% endset %}

{% block content %}
    <div style="max-height: 100%; position: fixed; bottom: 0px; right: 0px; z-index: 99; overflow: auto">
        <div class="accordion float-right" id="accordionExample" style="max-width: 500px; max-height: 100%;">
            <div class="card" style="max-height: 100%; overflow: auto">
                <div >
                    <h2 class="mb-0">
                        <button id="headingOne" class="card-header btn btn-link" style="width: 100%" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Tartalomjegyzék
                        </button>
                    </h2>
                </div>

                <div style="max-height: 75%" id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div style="overflow: auto" class="card-body">
                        <a href="#tartalom"><p class=MsoToaHeading>Tartalomjegyzék</p></a>
                        {{ tartalom }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=WordSection1>
        <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center'><b><span
                        style='font-size:18.0pt'>DUNA FÉNYE NONPROFIT<br>
KÖZKERESETI TÁRSASÁG</span></b></p>

        <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center'><b><span
                        style='font-size:18.0pt'>ADATVÉDELMI ÉS ADATKEZELÉSI SZABÁLYZAT</span></b></p>

        <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:0cm;
margin-bottom:6.0pt;margin-left:0cm;text-align:center'><b><span
                        style='font-size:18.0pt'>&nbsp;</span></b></p>

        <a id="tartalom"><p class=MsoToaHeading>Tartalomjegyzék</p></a>
        {{ tartalom }}

        <p class=MsoNormal><b><span style='font-size:14.0pt;font-family:"Liberation Serif",serif'>&nbsp;</span></b></p>

        <p class=MsoToc1>MELLÉKLETEK</p>

        <p class=MsoToc2><a href="/docs/Jogi nyilatkozat honlap használatához.pdf" target="_blank"><span
                        class=Jegyzkhivatkozs><span style='color:windowtext;text-decoration:none'>1. sz. melléklet: Jogi nyilatkozat honlap használatához</span></span></a></p>

        <p class=MsoNormal><b><span style='font-size:14.0pt;font-family:"Liberation Serif",serif'>&nbsp;</span></b></p>

        <p class=MsoNormal><b><span style='font-size:6.0pt;font-family:"Liberation Serif",serif'>&nbsp;</span></b></p>


        <h2><a name="__RefHeading___Toc8690_1134831791"></a>1.  Bevezetés</h2>

        <p class=Alaprtelmezett style='text-align:justify'><span style='font-family:
"Liberation Sans",sans-serif'>A Duna Fénye Nonprofit Közkereseti Társaság (a
továbbiakban: Társaság) tevékenysége során fokozottan ügyel a személyes adatok
védelmére, a kötelező jogi rendelkezések betartására, a biztonságos és
tisztességes adatkezelésre.</span></p>

        <p class=Alaprtelmezett style='text-align:justify'><span style='font-family:
"Liberation Sans",sans-serif'>A társaság a rendelkezésére bocsátott személyes
adatokat minden esetben a hatályos magyar és európai jogszabályoknak (a 2011.
évi CXII. törvény az információs önrendelkezési jogról és az infószabadságról,
valamint a 2016/679/EU Rendelet (2016. április 27.) a természetes személyeknek
a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok
szabad áramlásáról, valamint a 95/46/EK Rendelet hatályon kívül helyezéséről
szóló, röviden GDPR) és az etikai elvárásoknak eleget téve kezeli, minden
esetben megteszi azokat a technikai és szervezési intézkedéseket, amelyek a
megfelelő biztonságos adatkezeléshez szükségesek.</span></p>

        <p class=Alaprtelmezett style='text-align:justify'>&nbsp;</p>

        <h4><a name="__RefHeading___Toc1202_1978981079"></a>1.1 Az Adatkezelő adatai</h4>
        <table style="border-collapse: separate; border-spacing: 0px 5px;">
            <tr><td style="min-width: 200px;">Adatkezelő:</td><td>Duna Fénye Nonprofit Közkereseti Társaság</td></tr>
            <tr><td>Cégjegyzék-szám:</td><td>11-03-001655</td></tr>
            <tr><td>Adószám:</td><td>29184806-1-11</td></tr>
            <tr><td>Szolgáltató székhelye:</td><td>2028 Pilismarót, Kossuth Lajos utca 5/a.</td></tr>
            <tr><td>Szolgáltatói telefon:</td><td>+36/30/179-5887</td></tr>
            <tr><td class="pt-2 pb-1">Weboldalak:</td><td class="pt-2 pb-1"><a href="https://dunafenye.hu" target="_blank">https://dunafenye.hu</a></td></tr>
            <tr><td>Facebook:</td><td></td></tr>
        </table>

        <p class=MsoNormal> <br></p>

        <h4><a name="__RefHeading___Toc5190_3796039561"></a>1.2. Fogalom meghatározások</h4>

        <p class=MsoNormal style='text-align:justify'><b>A</b><b><span
                        style='font-size:11.0pt'>datkezelés</span></b><span style='font-size:11.0pt'>: </span>a
            személyes adatokon vagy adatállományokon automatizált, vagy nem automatizált
            módon végzett bármely művelet (pl. gyűjtés, rögzítés, rendszerezés, lekérdezés,
            felhasználás, továbbítás, törlés) melyet a Társaság működése közben végez.</p>

        <p class=MsoNormal style='text-align:justify'><b>Adatkezelő: </b> a GDPR 4.
            cikk 7. pontjában meghatározott körben a Társaság</p>

        <p class=MsoNormal style='text-align:justify'><b>Adatvédelmi incidens:</b>
            személyes adat jogellenes kezelése vagy feldolgozása, így különösen a
            jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal,
            törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés.</p>

        <p class=MsoNormal style='text-align:justify'><b>Hatóság: </b>a Nemzeti
            Adatvédelmi és Információszabadság Hatóság</p>

        <p class=MsoNormal style='text-align:justify'><b>Személyes adat:</b> azonosított
            vagy azonosítható természetes személyre vonatkozó bármely információ, amelynek
            eredményeként a természetes személy közvetlen vagy közvetett módon, különösen
            valamely azonosító, így név, személyazonosításra alkalmas igazolvány adatai,
            helyadatok alapján egyedileg beazonosítható;</p>

        <p class=MsoNormal style='text-align:justify'><b>Hirdető: </b>A személyes adat
            jogosultja, aki a Társaság által végzett szolgáltatásra ad megbízást.</p>

        <p class=MsoNormal style='text-align:justify'><b>Partner: </b>A személyes adat
            jogosultja, a Társasággal működése keretében végzett tevékenységére vonatkozóan
            szerződéses kötelmi jogviszonyt létesítő jogi személy;</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>


        <h2><a name="__RefHeading___Toc5192_3796039561"></a>2.  A szabályzat célja</h2>

        <p class=MsoNormal style='text-align:justify'><a
                    name="__RefHeading___Toc5194_3796039561"></a>A jelen Szabályzat célja, hogy a Társaság
            valamennyi vezető tisztségviselője tevékenysége során megtartsa az
            adatvédelemre vonatkozó mindenkor hatályos jogszabályi rendelkezéseket.</p>

        <p class=MsoNormal style='text-align:justify'>A Társaság vezető
            tisztségviselői, a Társasággal kapcsolatba kerülő természetes személyek: - Hírdetők,
            partnerek - személyes adatainak kezelése alkalmával, kötelesek a GDPR, az
            Infótörvény, valamint a jelen Szabályzat rendelkezéseinek mindenek felett álló
            megtartására.</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h2><a name="__RefHeading___Toc5196_3796039561"></a>3. Személyes adatkezelésre
            vonatkozó alapelvek</h2>

        <p class=MsoNormal style='text-align:justify'><a name="__RefHeading___Toc5198_3796039561"></a>A
            Társaság a személyes adatok kezelése során köteles megtartani az adatkezelésre
            vonatkozó jogszabályban meghatározott alábbi elveket: </p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>a)        A jogszerűség, tisztességes
                eljárás és átláthatóság elve</b>:</p>

        <p class=MsoNormal style='text-align:justify'>- az adatok kezelését a jogszabályok
            betartásával, az emberi méltóság védelmével kell végezni. Az adatok kezeléséről
            a tájékoztatás az érintett számára könnyen hozzáférhetővé és érthetővé kell
            tenni.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b><span>b)</span></b><span style='letter-spacing:.75pt'>      <b>A célhoz kötöttség
elve:</b></span></p>

        <p class=MsoNormal style='text-align:justify'>- az adatok gyűjtése csak az egyértelműen
            meghatározott, jogszerű célból történhet, azokat ne kezeljék a megnevezett
            célokkal össze nem egyeztethető módon; a 89. cikk (1) bekezdésének megfelelően
            nem minősül az eredeti céllal össze nem egyeztethetőnek a közérdekű archiválás
            céljából, tudományos és történelmi kutatási célból, vagy statisztikai célból
            történő további adatkezelés.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>c)        Az adattakarékosság
                elve:</b></p>

        <p class=MsoNormal style='text-align:justify'>Adatminimalizálás elve. A személyes
            adatok a cél megvalósulásához szükséges mértékben és ideig kezelhetőek,
            emellett megfelelőnek és relevánsnak kell lenniük.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>d)        Pontosság elve:</b></p>

        <p class=MsoNormal style='text-align:justify'>A kezelt adatoknak pontosnak, naprakésznek
            kell lenniük, minden észszerű intézkedést meg kell tenni annak érdekében, hogy
            az adatkezelés céljai szempontjából pontatlan személyes adatokat haladéktalanul
            töröljék vagy helyesbítsék.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>e)        Korlátozott
                tárolhatóság elve:</b></p>

        <p class=MsoNormal style='text-align:justify'>A személyes adatok tárolásának olyan
            formában kell történnie, amely az érintettek azonosítását csak a személyes
            adatok kezelése céljainak eléréséhez szükséges ideig teszi lehetővé; a
            személyes adatok ennél hosszabb ideig történő tárolására csak akkor kerülhet
            sor, amennyiben a személyes adatok kezelésére az EU 2016/679 Rendelet 89. cikk
            (1) bekezdésének megfelelően közérdekű archiválás céljából, tudományos és történelmi
            kutatási célból, vagy statisztikai célból kerül majd sor, az e rendeletben az
            érintettek jogainak és szabadságainak védelme érdekében előírt megfelelő
            technikai és szervezési intézkedések végrehajtására is figyelemmel.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>f)         Integritás és
                bizalmas jelleg</b></p>

        <p class=MsoNormal style='text-align:justify'>Az adatok kezelését oly módon
            kell végezni, hogy megfelelő technikai vagy szervezési intézkedések
            alkalmazásával biztosítva legyen a személyes adatok megfelelő biztonsága, az
            adatok jogosulatlan vagy jogellenes kezelésével, véletlen elvesztésével, megsemmisítésével
            vagy károsodásával szembeni védelmet is ideértve.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>g)</b>        <b><i>„Privacy by
                    design” </i>elve:</b></p>

        <p class=MsoNormal style='text-align:justify'>az adatvédelmi szempontoknak
            megfelelő gyakorlat nem merülhet ki a hatályos szabályozásnak való formális
            megfelelésben. Az adott szervezet alapvető működési elve az adatvédelmi
            szempontoknak való megfelelés, ezért működését, struktúráját ezek maximális
            figyelembevételével alakítja ki, az adatvédelmi szempontokat már az egyes
            működési fázisok megtervezésekor beépíti és így biztosítja az adatvédelem
            teljes körű érvényesülését.</p>

        <p class=MsoNormal style='margin-top:2.85pt;margin-right:0cm;margin-bottom:
2.85pt;margin-left:0cm;text-align:justify'><b>h)        Elszámoltathatóság:</b></p>

        <p class=MsoNormal style='text-align:justify'>Az adatkezelő felelős a fentiek
            megfelelésért, továbbá képesnek kell lennie e megfelelés igazolására.</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h2><a name="__RefHeading___Toc8702_1134831791"></a><span style='letter-spacing:
.75pt'>4. Adatfeldolgozók</span></h2>

        <h4><a name="__RefHeading___Toc3015_4046314205"></a>4.1. Hirdetések,
            szerződések feldolgozása és tárolása:</h4>

        <table style="border-collapse: separate; border-spacing: 0px 5px;">
            <tr><td style="min-width: 115px;">Ügyvezető:</td><td>Korcsák Gábor</td></tr>
            <tr><td>Cím:</td><td>2028 Pilismarót, Kossuth Lajos utca 5/a.</td></tr>
        </table>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc3017_4046314205"></a>4.2. Tárhely szolgáltató</h4>

        <table style="border-collapse: separate; border-spacing: 0px 5px;">
            <tr><td style="min-width: 115px;">Cégnév:</td><td>BlazeArts Kft.</td></tr>
            <tr><td>Székhely cím:</td><td>6090 Kunszentmiklós, Damjanich J. u. 36. 1/8.</td></tr>
            <tr><td>Adószám:</td><td>12539833-2-03</td></tr>
        </table>

        <p class=MsoNormal>&nbsp;</p>

        <h2><a name="__RefHeading___Toc8704_1134831791"></a><span>5. A Társaság által végzett adatkezelések</span></h2>

        <p class=MsoNormal>1. A Társaság személyes adatokon végzett adatkezelést,
            személyes adatok megismerését, gyűjtését vagy felhasználását abban az esetben
            jogosult végezni:</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>a)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>ha ahhoz a
            személyes adat jogosultja kifejezett hozzájárulását adta a személyes adatainak
            egy, vagy több konkrét célból történő megismeréséhez és kezeléséhez;</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>b)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>amennyiben az
            adatkezelés a Társaságra vonatkozó jogi kötelezettség teljesítéséhez szükséges;</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>c)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>az adatkezelés
            olyan szerződés teljesítéséhez szükséges, amelyben a személyes adatok
            jogosultja az egyik fél;</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>d)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>amennyiben
            az adatkezelés a személyes adat jogosultjának vagy egy másik természetes
            személy létfontosságú érdekének védelme miatt szükséges, illetve a Társaság
            (vagy egy harmadik fél) jogos érdekeinek érvényesítéséhez szükséges, kivéve, ha
            a Társasággal szemben elsőbbséget élveznek a személyes adat jogosultjának olyan
            érdekei és alapvető jogai és szabadságai, amelyek személyes adatok védelmét
            teszik szükségessé;</p>

        <p class=MsoNormal style='text-align:justify'>2. A Társaság adatkezelési
            tevékenysége során adatfeldolgozót igénybe vehet.</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5210_3796039561"></a><span>5.1.</span> Adatkezelés
            célja</h4>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'><a
                    name="__RefHeading___Toc5212_3796039561"></a>a)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>A Társasággal és a személyes adat jogosultja közötti, a Társasággal
            működési tevékenységével összefüggésben partneri jogviszony (pl. megbízási
            szerződés, adásvételi szerződés) létrehozása, fenntartása, e jogviszonyból
            eredő jogok gyakorlása (pl. tagdíj) és kötelezettségek teljesítése (pl.
            szerződésben vállalt szolgáltatás teljesítése);</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'><a
                    name="__RefHeading___Toc5214_3796039561"></a>b)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>az Egyesület tagjaival kapcsolatos jogos érdekének érvényesítése és
            védelme; továbbá</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'><a
                    name="__RefHeading___Toc5216_3796039561"></a>c)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>az Egyesületet a kötelmi jogviszonnyal kapcsolatban – esetlegesen –
            terhelő jogi kötelezettség teljesítése.</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>d)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A társaság
            szolgáltatási keretin belül a miÚjságban történő hirdetés feladása;</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5218_3796039561"></a>5.2. Adatkezelés időtartama</h4>

        <ul style='margin-top:0cm' type=disc>
            <li class=MsoNormal>a személyes adat jogosultja részéről megadott hozzájárulás
                megadásától kezdődően partneri szerződéses <b>jogviszony megszűnését
                    követő 5 év.</b> </li>
        </ul>

        <ul style='margin-top:0cm' type=disc>
            <li class=MsoNormal>Minden olyan hozzájárulás alapján kezelt személyes adat
                esetén, amelyik a pénzmosás és a terrorizmus finanszírozása megelőzéséről
                és megakadályozásáról szóló 2017. évi LIII. törvény 56-57. §
                rendelkezéseinek hatálya alá tartozik, az adatkezelés időtartama:
                szerződéses jogviszony megszűnését követő 8 év;</li>
        </ul>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5220_3796039561"></a>5.3.<span style='color:
#3D3D3D'> A</span>datkezelés módja</h4>

        <p class=MsoNormal>Papír alapú vagy elektronikus nyilvántartás vezetése</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5222_3796039587"></a>5.4. Adatkezelés jogalapja</h4>
        <p class=MsoNormal> önkéntes hozzájárulás</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5222_3796039561"></a>5.5. Kezelt adatok</h4>

        <p class=MsoNormal>A Társaság hozzájáruláson alapuló adatkezelés keretében,
            alábbi adatainak megismerésére és kezelésére jogosult:</p>
        <ul>
            <li>Név</li>
            <li>Lakcím</li>
            <li>Telefonszám</li>
            <li>E-mail cím</li>
            <li>Adószám</li>
        </ul>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc3074_3404305204"></a>5.6. Adatkezelésre
            jogosultak</h4>

        <p class=MsoNormal>Személyes adatok kezelésére a mindenkori vezetőségi tagok
            jogosultak</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5224_3796039561"></a>5.7. Az adatkezeléshez
            kötődő feladatok</h4>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>a)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span> A
            hozzájáruláson alapuló adatkezelés során a személyes adat jogosultját a
            Társaság</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>a szerződéses
            jogviszony létesítését megelőzően, az első kapcsolatfelvételkor, köteles
            tájékoztatni a személyes adatok kezeléséről a jelen Adatvédelmi és adatkezelési
            szabályzatban foglaltakról.</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>b)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A
            Társaság a tájékoztatást tömören és közérthetően köteles megadni. A
            tájékoztatás megadása mellett a Társaság köteles a jelen Szabályzatot a hirdető,
            partner részére hozzáférhetővé tenni, kérésére elektronikus formában
            elektronikus kézbesítési címére megküldeni.</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>c)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A
            személyes adat jogosultja a tájékoztatást követően önként jogosult eldönteni,
            hogy a Társasággal kíván-e kötelmi jogviszonyt létrehozni. Az tag hozzájárulása
            akkor jogszerű, ha az</p>

        <ul style='margin-top:0cm' type=disc>
            <li class=MsoNormal style='text-align:justify'>önkéntes;</li>
            <li class=MsoNormal>konkrét adatkezelésre (meghatározott – egy vagy több –
                kötelmi jogviszonnyal kapcsolatban) vonatkozik;</li>
            <li class=MsoNormal style='text-align:justify'>megfelelő tájékoztatáson
                alapul; és egyértelmű akaratnyilatkozat.</li>
        </ul>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>d)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A
            személyes adat jogosultjának hozzájárulásán alapuló adatkezelés feltétele, hogy
            a személyes adat jogosultja a személyes adatok kezeléséhez a Társasággal létrejövő
            szerződéses jogviszonyát megelőzően a Társaság adatkezelési tájékoztatóját, az Társaság
            adatkezelésének célját, illetve az adatkezelés tényét, valamint a megismerni és
            kezelni kívánt adatok körét elismerje, és az adatkezeléshez hozzájáruljon. Ez a
            hozzájárulás a szerződés megkötésével egyidejűleg, illetve a Honlapon történő
            feladáskor a feladás pillanatában történik.<b> </b></p>

        <p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-18.0pt'>e)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A
            hirdető vagy partner hozzájáruló nyilatkozatában köteles megjegyezni, hogy a
            hozzájáruláson alapuló adatkezelés mellett kifejezetten megértette a Társaság arra
            vonatkozó tájékoztatását, hogy adatkezelésre a Társaság vele kapcsolatban egyéb
            jogcímen is jogosult lehet.</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>f)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Amennyiben
            a személyes adatok jogosultja a személyes adatai kezeléséhez nem járul hozzá,
            vagy megtagadja az úgy a Társaság a hirdetés felvételét vagy a partneri
            szerződéses jogviszonyt az érintett természetes, jogi személlyel nem
            létesíthet. </p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>g)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A személyes adat
            jogosultja hozzájárulását bármikor visszavonhatja. A hozzájárulás visszavonása
            nem érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés
            jogszerűségét. A személyes adatok kezeléséhez adott hozzájárulás visszavonásával
            az Egyesület köteles a személyes adatkezeléshez, mint előfeltételhez kapcsolódó
            tagsági, partneri szerződéses jogviszony megszüntetésére.</p>

        <p class=MsoNormal style='margin-left:36.0pt;text-indent:-18.0pt'>h)<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span>A Társaság köteles
            minden nyilvántartásából törölni azt a személyes adatot, amelynek jogosultjával
            a szerződéses jogviszonya bármely okból megszűnt, kivéve, amennyiben a
            személyes adatok további kezeléséhez a jogosult hozzájárult vagy amennyiben a
            személyes adatok megőrzését a Társaság számára jogszabály (pl. adójogi
            jogviszony) írja elő.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h2><a name="__RefHeading___Toc1212_1978981079"></a>6. A honlap látogatóinak
            adatai</h2>

        <p class=MsoNormal style='text-align:justify'>Az Adatkezelő által működtetett weboldalak:
        </p>

        <p class=MsoNormal style='text-align:justify'>Az Adatkezelő az általa
            üzemeltetett weboldalak látogatásakor sem a felhasználó IP címét, sem más
            személyes adatot nem rögzít.</p>

        <p class=MsoNormal style='text-align:justify'>Az Adatkezelő által üzemeltetett
            weboldalak html. kódja webanalitikai mérések céljából független, külső
            szerverről érkező és külső szerverre mutató hivatkozásokat tartalmazhat. A
            mérés kiterjed a konverziók követésére is. A webanalitikai szolgáltató személyes
            adatokat nem, csak a böngészéssel kapcsolatos, az egyes egyének beazonosítására
            nem alkalmas adatokat kezel. </p>

        <p class=MsoNormal style='text-align:justify'>Jelenleg a webanalitikai
            szolgáltatásokat a Google Inc. végzi (1600 Amphitheatre Parkway, Mountain View,
            CA 94043), a Google Analytics szolgáltatás keretében.</p>

        <p class=MsoNormal style='text-align:justify'>Az Adatkezelő a Facebook és a
            Google AdWords hirdetési rendszerein keresztül ún. remarketing hirdetéseket
            futtat. Ezek a szolgáltatók cookie-k, webes jelzők és hasonló technológiák
            használatával gyűjthetnek vagy kaphatnak adatokat az Adatkezelő weboldaláról és
            egyéb internetes helyekről. Ezeknek az adatoknak a felhasználásával mérési
            szolgáltatásokat nyújtanak, illetve hirdetéseket tesznek célzottá. Az így
            célzott hirdetések a Facebook és a Google partnerhálózatában szereplő további
            weboldalakon jelenhetnek meg. A remarketing listák a látogató személyes adatait
            nem tartalmazzák, személyazonosításra nem alkalmasak.</p>

        <p class=MsoNormal style='text-align:justify'>A cookie-k használatát a
            felhasználó saját számítógépéről törölni tudja, illetve a böngészőjében eleve
            megtilthatja alkalmazásukat. Ezek a lehetőségek böngészőtől függően, de
            jellemzően a Beállítások / Adatvédelem menüpontban tehetők meg.</p>

        <p class=MsoNormal style='text-align:justify'>További információ a Google és a
            Facebook adatvédelmi irányelveiről az alábbi elérhetőségeken</p>

        <p class=MsoNormal style='text-align:justify'>olvasható: <a
                    href="http://www.google.com/privacy.html" target="_blank">http://www.google.com/privacy.html</a>
            és <a href="https://www.facebook.com/about/privacy/" target="_blank">https://www.facebook.com/about/privacy/</a></p>

        <p class=MsoNormal style='text-align:justify'><em><span style='font-family:
"Liberation Sans",sans-serif;font-style:normal'>A Cookie-k fajtáiról és teljes
mértékű funkciójukat leíró információkról a <a
                            href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a> weboldalon
lehet olvasni.</span></em></p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h2><a name="__RefHeading___Toc5258_1978981079"></a>7. Adatvédelmi incidens</h2>

        <h4><a name="__RefHeading___Toc5258_1978981080"></a>7.1. <span style='color:
#3D3D3D'></span>Fogalma</h4>

        <p class=MsoNormal><strong><span style='font-family:"Liberation Sans",sans-serif;
font-weight:normal'>Az adatvédelmi incidens személyes adatok integritásának és
bizalmas jellegének a sérülését jelenti.</span></strong></p>

        <p class=MsoNormal>Adatvédelmi incidensnek minősül &quot;<em><span
                        style='font-family:"Liberation Sans",sans-serif'>a biztonság olyan sérülése,
amely a továbbított, tárolt vagy más módon kezelt személyes adatok véletlen
vagy jogellenes megsemmisítését, elvesztését, megváltoztatását, jogosulatlan
közlését vagy az azokhoz való jogosulatlan hozzáférést eredményezi.</span></em><em><span
                        style='font-family:"Liberation Sans",sans-serif;font-style:normal'>&quot;</span></em></p>

        <p class=MsoNormal><span style='color:#1B1B1B'>Sokféle adatvédelmi incidens
előfordulhat, ide tartozhat például egy személyes adatokat is tartalmazó laptop
elvesztése, egy informatikai rendszer megtámadása, de akár egy rossz helyre
küldött levél vagy email is e körbe tartozik.</span></p>

        <p class=MsoNormal><span style='color:#1B1B1B'>&nbsp;</span></p>

        <h4><a name="__RefHeading___Toc5258_1978981081"></a>7.2. <span style='color:
#3D3D3D'></span>Miért fontos, hogy a megtörtént adatvédelmi incidenst mielőbb kezeljék?</h4>

        <p class=MsoNormal style='text-align:justify'><span style='color:#1B1B1B'>A
GDPR Preambuluma (85. pont) rögzíti, hogy &quot;<em><span style='font-family:
"Liberation Sans",sans-serif;font-style:normal'>az adatvédelmi incidens megfelelő
és kellő idejű intézkedés hiányában fizikai, vagyoni vagy nem vagyoni károkat
okozhat a természetes személyeknek, többek között</span></em></span></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a személyes adataik feletti rendelkezés
elvesztését vagy a jogaik korlátozását,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a hátrányos megkülönböztetést,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a személyazonosság-lopást vagy a
személyazonossággal való visszaélést,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a pénzügyi veszteséget,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> az álnevesítés engedély nélküli feloldását,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a jó hírnév sérelmét,</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a szakmai titoktartási kötelezettség által védett
személyes adatok bizalmas jellegének sérülését, illetve</span></em></p>

        <p class=MsoNormal style='margin-left:11.25pt;text-align:justify;text-indent:
0cm'><span style='font-family:Symbol'>·</span><em><span style='font-family:
"Liberation Sans",sans-serif'> a szóban forgó
természetes személyeket sújtó egyéb jelentős gazdasági vagy szociális hátrányte</span></em></p>

        <p class=MsoNormal style='text-align:justify'>Az adatvédelmi incidensek tehát
            súlyos következményekkel járhatnak az érintettekre nézve, így ha megelőzni nem
            sikerül ezeket, fontos, hogy nagyon rövid határidőn belül intézkedések
            történjenek az incidensek következményeinek az elhárítása érdekében.</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5258_1978981082"></a>7.3. <span style='color:
#3D3D3D'></span>Adatvédelmi incidens esetén a teendők</h4>

        <p class=MsoNormal><span style='color:#1B1B1B'>Az <strong><span
                            style='font-family:"Liberation Sans",sans-serif;font-weight:normal'>adatkezelő feladatai:
</span></strong></span></p>

        <ul>
            <li class="py-1">az adatvédelmi incidenst indokolatlan késedelem nélkül, és ha lehetséges, legkésőbb <u>72 órával</u> a tudomásszerzést követően be kell jelenteni az illetékes felügyeleti hatóságnál;</li>
            <li class="py-1">ha az adatvédelmi incidens
                valószínűsíthetően magas kockázattal jár a természetes személyek jogaira és
                szabadságaira nézve, az adatkezelő indokolatlan késedelem nélkül tájékoztatja
                az érintettet az adatvédelmi incidensről;</li>
            <li class="py-1">az adatkezelő nyilvántartja az adatvédelmi
                incidenseket.</li>
        </ul>

        <p class=MsoNormal style='text-align:justify'><span style='color:#1B1B1B'>Az <strong><span
                            style='font-family:"Liberation Sans",sans-serif;font-weight:normal'>adatfeldolgozó
</span></strong>az adatvédelmi incidenst, az arról való tudomásszerzését
követően indokolatlan késedelem nélkül bejelenti az adatkezelőnek.</span></p>

        <p class=MsoNormal style='text-align:justify'><strong><span style='font-family:
"Liberation Sans",sans-serif'>Mikor nem kell bejelenteni az adatvédelmi
incidenst a hatóságnak, illetve mikor nem kell az érintetteket közvetlenül
értesíteni?</span></strong></p>

        <p class=MsoNormal style='text-align:justify'><span style='color:#1B1B1B'>Ha az
adatkezelő az <em><span style='font-family:"Liberation Sans",sans-serif;
font-style:normal'>elszámoltathatóság elvével </span></em>összhangban
bizonyítani tudja, hogy az adatvédelmi incidens <strong><span style='font-family:
"Liberation Sans",sans-serif;font-weight:normal'>valószínűsíthetően nem jár
kockázattal </span></strong>a természetes személyek jogaira és szabadságaira
nézve, <strong><span style='font-family:"Liberation Sans",sans-serif;
font-weight:normal'>akkor a bejelentés mellőzhető</span></strong><strong><span
                            style='font-family:"Liberation Sans",sans-serif'>.</span></strong></span></p>

        <p class=MsoNormal style='text-align:justify'><span style='color:#1B1B1B'>Az
érintettet <strong><span style='font-family:"Liberation Sans",sans-serif;
font-weight:normal'>nem kell az adatvédelmi incidensről tájékoztatni</span></strong>,
ha</span></p>

        <ul>
            <li class="py-1"><strong><span style='font-family:
"Liberation Sans",sans-serif'>az adatkezelő megfelelő technikai és szervezési
védelmi intézkedéseket hajtott végre, és ezeket az intézkedéseket az
adatvédelmi incidens által érintett adatok tekintetében alkalmazták</span></strong></li>
            <li class="py-1"><span style='color:#1B1B1B'>az
adatkezelő olyan további intézkedéseket tett, amelyek biztosítják, hogy az
érintett jogaira és szabadságaira jelentett <strong><span style='font-family:
"Liberation Sans",sans-serif;font-weight:normal'>magas kockázat a továbbiakban
valószínűsíthetően nem valósul meg</span></strong>;</span></li>
            <li class="py-1">Az illetékes hatóság egyébként
                utasíthatja az adatkezelőt, hogy tájékoztassa az érintettet az adatvédelmi
                incidensről (lásd 58. cikk (2) e) pont).</li>
        </ul>

        <p class=MsoNormal style='text-align:justify'></p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <h2><a name="__RefHeading___Toc5227_1978981079"></a>8. Az Ön jogai</h2>

        <h4><a name="__RefHeading___Toc5229_1978981079"></a>8.1. <span style='color:
#3D3D3D'></span>Hozzáférés joga</h4>

        <p class=MsoNormal>A <b>GDPR 15. cikke</b> alapján az érintett kérelmezheti a
            rá vonatkozó személyes adatokhoz: való hozzáférést az alábbiak szerint:</p>

        <p class=MsoNormal>(1) Az érintett jogosult arra, hogy az Adatkezelőtől
            visszajelzést kapjon arra vonatkozóan, hogy személyes adatainak kezelése
            folyamatban van-e, és ha ilyen adatkezelés folyamatban van, jogosult arra, hogy
            a személyes adatokhoz és a következő információkhoz hozzáférést kapjon:</p>

        <p class=MsoNormal>a) az adatkezelés céljai;</p>

        <p class=MsoNormal>b) az érintett személyes adatok kategóriái;</p>

        <p class=MsoNormal>c) azon címzettek vagy címzettek kategóriái, akikkel,
            illetve amelyekkel a személyes adatokat közölték vagy közölni fogják, ideértve
            különösen a harmadik országbeli címzetteket, illetve a nemzetközi szervezeteket;</p>

        <p class=MsoNormal>d) adott esetben a személyes adatok tárolásának tervezett
            időtartama, vagy ha ez nem lehetséges, ezen időtartam meghatározásának
            szempontjai;</p>

        <p class=MsoNormal>e) az érintett azon joga, hogy kérelmezheti az Adatkezelőtől
            a rá vonatkozó személyes adatok helyesbítését, törlését vagy kezelésének
            korlátozását, és tiltakozhat az ilyen személyes adatok kezelése ellen;</p>

        <p class=MsoNormal>f) a valamely felügyeleti hatósághoz címzett panasz
            benyújtásának joga;</p>

        <p class=MsoNormal>g) ha az adatokat nem az érintettől gyűjtötték, a forrásukra
            vonatkozó minden elérhető információ;</p>

        <p class=MsoNormal>h) az automatizált döntéshozatal ténye, ideértve a profilalkotást
            is, valamint legalább ezekben az esetekben az alkalmazott logikára és arra
            vonatkozó érthető információk, hogy az ilyen adatkezelés milyen jelentőséggel
            bír, és az érintettre nézve milyen várható következményekkel jár.</p>

        <p class=MsoNormal>(2) Az Adatkezelő az adatkezelés tárgyát képező személyes
            adatok másolatát az érintett rendelkezésére bocsátja. Az érintett által kért
            további másolatokért az Adatkezelő az adminisztratív költségeken alapuló,
            észszerű mértékű díjat számíthat fel. Ha az érintett elektronikus úton nyújtotta
            be a kérelmet, az információkat széles körben használt elektronikus formátumban
            kell rendelkezésre bocsátani, kivéve, ha az érintett másként kéri. A másolat
            igénylésére vonatkozó jog nem érintheti hátrányosan mások jogait és
            szabadságait.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5231_1978981079"></a>8.2. <span style='color:
#3D3D3D'></span>Helyesbítéshez
            való jog</h4>

        <p class=MsoNormal>A<b> GDPR 16. cikke </b>alapján az érintett jogosult az
            Adatkezelőtől a rá vonatkozó személyes adat helyesbítését kérni.</p>

        <p class=MsoNormal>Az érintett erre vonatkozó kérése esetén az Adatkezelő
            köteles indokolatlan késedelem nélkül helyesbíteni a rá vonatkozó pontatlan
            személyes adatokat. Figyelembe véve az adatkezelés célját, az érintett jogosult
            arra, hogy kérje a hiányos személyes adatok –egyebek mellett kiegészítő
            nyilatkozat útján történő – kiegészítését.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5233_1978981079"></a>8.3. <span style='color:
#3D3D3D'></span>Az adat törléséhez való jog</h4>

        <p class=MsoNormal>A <b>GDPR 17. </b>cikke alapján az érintett jogosult az
            Adatkezelőtől a rá vonatkozó személyes adat törését kérni az alábbiak szerint:</p>

        <p class=MsoNormal>(1) Az érintett jogosult arra, hogy az Adatkezelőtől a rá
            vonatkozó személyes adatok törlését kérje, az Adatkezelő pedig köteles arra,
            hogy az érintettre vonatkozó személyes adatokat indokolatlan késedelem nélkül
            törölje, ha az alábbi indokok valamelyike fennáll:</p>

        <p class=MsoNormal>a) a személyes adatokra már nincs szükség abból a célból,
            amelyből azokat gyűjtötték vagy más módon kezelték;</p>

        <p class=MsoNormal>b) az érintett visszavonja az adatkezelés alapját képező
            hozzájárulását, és az adatkezelésnek nincs más jogalapja;</p>

        <p class=MsoNormal>c) az érintett tiltakozik a közérdekből, közhatalmi
            jogosítvány gyakorlása érdekében vagy az adatkezelő (harmadik fél) jogos
            érdekében történő adatkezelése ellen, és nincs elsőbbséget élvező jogszerű ok
            az adatkezelésre, vagy az érintett a tiltakozik a közvetlen üzletszerzés
            érdekében történő adatkezelés ellen;</p>

        <p class=MsoNormal>d) a személyes adatokat jogellenesen kezelték;</p>

        <p class=MsoNormal>e) a személyes adatokat az Adatkezelőre alkalmazandó uniós vagy
            tagállami jogban (magyar jogban) előírt jogi kötelezettség teljesítéséhez
            törölni kell;</p>

        <p class=MsoNormal>f) a személyes adatok gyűjtésére az információs
            társadalommal összefüggő szolgáltatások kínálásával kapcsolatosan került sor.<br>
            <br>
        </p>

        <p class=MsoNormal>(2) Ha az Adatkezelő nyilvánosságra hozta a személyes
            adatot, és az (1) bekezdés értelmében azt törölni köteles, az elérhető
            technológia és a megvalósítás költségeinek figyelembevételével megteszi az
            észszerűen elvárható lépéseket – ideértve technikai intézkedéseket – annak
            érdekében, hogy tájékoztassa az adatokat kezelő adatkezelőket, hogy az érintett
            kérelmezte tőlük a szóban forgó személyes adatokra mutató linkek vagy e
            személyes adatok másolatának, illetve másodpéldányának törlését.<br>
            <br>
        </p>

        <p class=MsoNormal>(3) Az Érintett törlési jogának korlátozására csak a GDPR-ban
            írt alábbi kivételek fennállása esetén kerülhet sor, azaz a fenti indokok
            fennállása esetén a személyes adatok további megőrzése jogszerűnek tekinthető:</p>

        <p class=MsoNormal>a) ha a véleménynyilvánítás és a tájékozódás szabadságához
            való jog gyakorlása, vagy</p>

        <p class=MsoNormal>b) ha valamely jogi kötelezettségnek való megfelelés, vagy</p>

        <p class=MsoNormal>c) ha közérdekből végzett feladat végrehajtása, vagy</p>

        <p class=MsoNormal>d) ha az adatkezelőre ruházott közhatalmi jogosítvány
            gyakorlása miatt, vagy</p>

        <p class=MsoNormal>e) ha népegészségügy területén érintő közérdekből,</p>

        <p class=MsoNormal>f) ha közérdekű archiválás céljából, vagy</p>

        <p class=MsoNormal>g) ha tudományos és történelmi kutatás céljából vagy
            statisztikai célból, vagy</p>

        <p class=MsoNormal>h) ha jogi igények előterjesztéséhez, érvényesítéséhez,
            illetve védelméhez szükséges.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5235_1978981079"></a>8.4. <span style='color:
#3D3D3D'></span>Adatkezelés
            korlátozásához való jog</h4>

        <p class=MsoNormal>A <b>GDPR 18</b>. cikke alapján az érintett jogosult az
            Adatkezelőtől a rá vonatkozó személyes adat kezelésének korlátozását kérni az
            alábbiak szerint:</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>(1) Az érintett jogosult arra, hogy kérésére az Adatkezelő
            korlátozza az adatkezelést, ha az alábbiak valamelyike teljesül:</p>

        <p class=MsoNormal>a) az érintett vitatja a személyes adatok pontosságát, ez
            esetben a korlátozás arra az időtartamra vonatkozik, amely lehetővé teszi, hogy
            az Adatkezelő ellenőrizze a személyes adatok pontosságát;</p>

        <p class=MsoNormal>b) az adatkezelés jogellenes, és az érintett ellenzi az
            adatok törlését, és ehelyett kéri azok felhasználásának korlátozását;</p>

        <p class=MsoNormal>c) az Adatkezelőnek már nincs szüksége a személyes adatokra
            adatkezelés céljából, de az érintett igényli azokat jogi igények
            előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy</p>

        <p class=MsoNormal>d) az érintett tiltakozott a közérdekből, közhatalmi
            jogosítvány gyakorlása érdekében vagy az adatkezelő (harmadik fél) jogos
            érdekében történő adatkezelés ellen; ez esetben a korlátozás arra az
            időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az Adatkezelő jogos
            indokai elsőbbséget élveznek-e az érintett jogos indokaival szemben.<br>
            <br>
        </p>

        <p class=MsoNormal>(2) Ha az adatkezelés a fentiek alapján korlátozás alá esik,
            az ilyen személyes adatokat a tárolás kivételével csak az érintett
            hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy
            védelméhez, vagy más természetes vagy jogi személy jogainak védelme érdekében,
            vagy az Unió, illetve valamely tagállam fontos közérdekéből lehet kezelni.<br>
            <br>
        </p>

        <p class=MsoNormal>(3) Az Adatkezelő az érintettet, akinek a kérésére az (1)
            bekezdés alapján korlátozták az adatkezelést, az adatkezelés korlátozásának
            feloldásáról előzetesen tájékoztatja.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5229_1978981083"></a>8.5. <span style='color:
#3D3D3D'></span>Tiltakozáshoz
            való jog</h4>

        <p class=MsoNormal>A GDPR 21. cikke alapján az érintett jogosult az
            Adatkezelőtől a rá vonatkozó személyes adat kezelése ellen tiltakozni az
            alábbiak szerint:<br>
            <br>
        </p>

        <p class=MsoNormal>(1) Az érintett jogosult arra, hogy a saját helyzetével
            kapcsolatos okokból bármikor tiltakozzon személyes adatainak közérdekből,
            közhatalmi jogosítvány gyakorlása érdekében vagy az adatkezelő (harmadik fél)
            jogos érdekében történő kezelése ellen, ideértve az ezen alapuló profilalkotást
            is. Ebben az esetben az Adatkezelő a személyes adatokat nem kezelheti tovább,
            kivéve, ha az Adatkezelő bizonyítja, hogy az adatkezelést olyan kényszerítő
            erejű jogos okok indokolják, amelyek elsőbbséget élveznek az érintett érdekeivel,
            jogaival és szabadságaival szemben, vagy amelyek jogi igények
            előterjesztéséhez, érvényesítéséhez vagy védelméhez kapcsolódnak.<br>
            <br>
        </p>

        <p class=MsoNormal>(2) Ha a személyes adatok kezelése közvetlen üzletszerzés
            érdekében történik, az érintett jogosult arra, hogy bármikor tiltakozzon a rá
            vonatkozó személyes adatok e célból történő kezelése ellen, ideértve a
            profilalkotást is, amennyiben az a közvetlen üzletszerzéshez kapcsolódik. Ha az
            érintett tiltakozik a személyes adatok közvetlen üzletszerzés érdekében történő
            kezelése ellen, akkor a személyes adatok a továbbiakban e célból nem
            kezelhetők.<br>
            <br>
        </p>

        <p class=MsoNormal>(3) A tiltakozáshoz való jogra legkésőbb az érintettel való
            első kapcsolatfelvétel során kifejezetten fel kell hívni annak figyelmét, és az
            erre vonatkozó tájékoztatást egyértelműen és minden más információtól
            elkülönítve kell megjeleníteni.</p>

        <p class=MsoNormal>(4) Az információs társadalommal összefüggő szolgáltatások
            igénybevételéhez kapcsolódóan és a 2002/58/EK irányelvtől eltérve az érintett a
            tiltakozáshoz való jogot műszaki előírásokon alapuló automatizált eszközökkel
            is gyakorolhatja.<br>
            <br>
        </p>

        <p class=MsoNormal>(5) Ha a személyes adatok kezelésére tudományos és
            történelmi kutatási célból vagy statisztikai célból kerül sor, az érintett
            jogosult arra, hogy a saját helyzetével kapcsolatos okokból tiltakozhasson a rá
            vonatkozó személyes adatok kezelése ellen, kivéve, ha az adatkezelésre
            közérdekű okból végzett feladat végrehajtása érdekében van szükség.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5229_1978981081"></a>8.6. <span style='color:
#3D3D3D'></span>Hordozhatósághoz
            való jog</h4>

        <p class=MsoNormal>A <b>GDPR 20</b>. cikke alapján az érintett jogosult a rá
            vonatkozó személyes adatok hordozhatóságára az alábbiak szerint:<br>
            <br>
        </p>

        <p class=MsoNormal>(1) Az érintett jogosult arra, hogy a rá vonatkozó, általa
            egy adatkezelő rendelkezésére bocsátott személyes adatokat tagolt, széles
            körben használt, géppel olvasható formátumban megkapja, továbbá jogosult arra,
            hogy ezeket az adatokat egy másik adatkezelőnek továbbítsa anélkül, hogy ezt
            akadályozná az az adatkezelő, amelynek a személyes adatokat a rendelkezésére
            bocsátotta, ha:</p>

        <p class=MsoNormal>a) ha az adatkezelés jogalapja az Érintett hozzájárulása,
            vagy az Érintettel kötött szerződés teljesítése</p>

        <p class=MsoNormal>b) és az adatkezelés automatizált módon történik.<br>
            <br>
        </p>

        <p class=MsoNormal>(2) Az adatok hordozhatóságához való jog gyakorlása során az
            érintett jogosult arra, hogy – ha ez technikailag megvalósítható – kérje a
            személyes adatok adatkezelők közötti közvetlen továbbítását.<br>
            <br>
        </p>

        <p class=MsoNormal>(3) Az adatok hordozhatóságához való jog gyakorlása nem
            sértheti a törléshez való jogot. Az adathordozás joga nem alkalmazandó abban az
            esetben, ha az adatkezelés közérdekű vagy az adatkezelőre ruházott közhatalmi
            jogosítványai gyakorlásának keretében végzett feladat végrehajtásához
            szükséges.<br>
            <br>
        </p>

        <p class=MsoNormal>(4) Az adatok hordozhatóságához való jog nem érintheti
            hátrányosan mások jogait és</p>

        <p class=MsoNormal>szabadságait.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h4><a name="__RefHeading___Toc5229_1978981080"></a>8.7. <span style='color:
#3D3D3D'></span>A hozzájárulás visszavonásához való jog</h4>

        <p class=MsoNormal>A <b>GDPR 7</b>. cikk (3) bekezdése alapján az érintett
            jogosult a személyes adatainak kezeléséhez adott hozzájárulást bármely
            időpontban visszavonni az alábbiak szerint:</p>

        <p class=MsoNormal>Az érintett jogosult arra, hogy hozzájárulását bármikor
            visszavonja. A hozzájárulás visszavonása nem érinti a hozzájáruláson alapuló, a
            visszavonás előtti adatkezelés jogszerűségét. A hozzájárulás visszavonását
            ugyanolyan egyszerű módon jogosult megtenni, mint annak megadását.</p>

        <p class=MsoNormal>&nbsp;</p>

        <h2><a name="__RefHeading___Toc5249_1978981079"></a>9. Jogorvoslati jog </h2>

        <p class=MsoNormal style='text-align:justify'>Az érintett <b>jogorvoslati joga</b>
            bíróság előtt, felügyeleti hatósághoz címzett <b>panasz.</b> </p>

        <p class=MsoNormal style='text-align:justify'>Az érintett által tapasztalt
            jogellenes adatkezelés esetén polgári pert kezdeményezhet az Adatkezelő ellen.
            A per elbírálása a törvényszék hatáskörébe tartozik. A per – az érintett
            választása szerint – a lakóhelye szerinti törvényszék előtt is megindítható (a
            törvényszékek felsorolását és elérhetőségét az alábbi linken keresztül
            tekintheti meg:</p>

        <p class=MsoNormal style='text-align:justify'>http://birosag.hu/torvenyszekek</p>

        <p class=MsoNormal style='text-align:justify'>Az egyéb közigazgatási vagy
            bírósági jogorvoslatok sérelme nélkül, minden érintett jogosult arra, hogy
            panaszt tegyen egy felügyeleti hatóságnál – különösen a szokásos tartózkodási
            helye, a munkahelye vagy a feltételezett jogsértés helye szerinti tagállamban
            –, ha az érintett megítélése szerint a rá vonatkozó személyes adatok kezelése
            megsérti a GDPR-t.</p>

        <p class=MsoNormal style='text-align:justify'>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal><b>Nemzeti Adatvédelmi és Információszabadság Hatóság (NAIH)</b>
        </p>



        <table style="border-collapse: separate; border-spacing: 0px 5px;">
            <tr><td style="min-width: 115px;">Cím:</td><td>1125 Budapest, Szilágyi Erzsébet fasor 22/c</td></tr>
            <tr><td>Postacím:</td><td>1530 Budapest, Pf.: 5</td></tr>
            <tr><td>E-mail:</td><td><a href="mailto:ugyfelszolgalat@naih.hu">ugyfelszolgalat@naih.hu</a></td></tr>
            <tr><td>Telefon:</td><td>+36 (1) 391-1400</td></tr>
            <tr><td>Fax:</td><td>+36 (1) 391-1410</td></tr>
            <tr><td>Honlap:</td><td><a href="http://www.naih.hu/" target="_blank">www.naih.hu</a></td></tr>
        </table>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

        <p class=MsoNormal>&nbsp;</p>

    </div>
{% endblock %}