{% extends "miujsag/miujsag_base.html.twig" %}

{% block pagetitle %}Kapcsolat{% endblock %}

{% block content %}
    <p class=MsoNormal><b><span style='font-size:14.0pt;line-height:107%'>Duna
Fénye Nonprofit Közkereseti Társaság</span></b></p>

    <table style="border-collapse: separate; border-spacing: 0px 5px;" class="padding-table-5">
        <tr><td style="min-width: 115px;">Cím:</td><td>2028 Pilismarót, Kossuth Lajos utca 5/a.</td></tr>
        <tr><td>Telefon:</td><td>+36 33 950 402</td></tr>
        <tr><td>Honlap:</td><td><a href="https://miujsag.dunafenye.hu">https://miujsag.dunafenye.hu</a></td></tr>
        <tr><td style="">Email:</td><td><a href="mailto:miujsag@dunafenye.hu">miujsag@dunafenye.hu</a></td></tr>
        <tr><td colspan="2" class="py-2">
                <ul>
                    <li>Hirdetés feladás: <a href="mailto:miujsag@dunafenye.hu">miujsag@dunafenye.hu</a></li>
                </ul>
            </td></tr>
        <tr><td>Ügyvezető:</td><td>Korcsák Gábor</td></tr>
        <tr><td>Elérhetőség:</td><td><a href="mailto:korcsak.gabor@dunafenye.hu">korcsak.gabor@dunafenye.hu</a></td></tr>
        <tr><td>Mobil:</td><td>+36 30 179 5887</td></tr>
    </table>
{% endblock %}