{% extends "miujsag/miujsag_base.html.twig" %}

{% block pagetitle %}Kapcsolatok{% endblock %}
{% block content %}
    <h4 class="py-1"><a href="https://dunafenye.dunafenye.hu/kapcsolat.php">Duna Fénye Nonprofit Kkt.</a></h4>
    <h4 class="py-1"><a href="{{ path('app_conn') }}">miÚJSÁG Közéleti Havi Lap</a></h4>
{% endblock %}