{% extends "miujsag/miujsag_base.html.twig" %}

{% block pagetitle %}Díjszabások{% endblock %}

{% block content %}
    <div class="text-center mb-5">
        <img src="/img/dijszabas_tablazat.png" alt="Díjszabások" style="max-width: 100%"/>

        <h4 class="my-2"><b>Díjszabások táblázat</b></h4>
    </div>
    <h5><b>Lapozható minta <a href="/pubs/dijak/index.html">megtekintése</a></b></h5>
{% endblock %}