{% extends "miujsag/miujsag_base.html.twig" %}

{% block pagetitle %}Impresszum{% endblock %}
{% block content %}
    <table>
        <tr><td class="pb-4"><b>Név:</b></td><td class="pb-4"><b>miÚJSÁG Pilismaróti magánkiadású, közéleti havi lap</b></td></tr>

        <tr><td>Kiadó:</td><td><b>Duna Fénye Nonprofit Közkereseti Társaság</b></td></tr>
        <tr><td>Székhely:</td><td>2028 Pilismarót, Kossuth Lajos utca 5/a.</td></tr>
        <tr><td>Webcím:</td><td><a href="https://miujsag.dunafenye.hu">https://miujsag.dunafenye.hu</a></td></tr>
        <tr><td>Adatkezelés:</td><td>Duna Fénye Nonprofit Közkereseti Társaság</td></tr>
        <tr><td class="pb-3">Telefon:</td><td class="pb-3">+36-33-950 402</td></tr>

        <tr><td class="pb-4">ISSN:</td><td class="pb-4">2786-0612</td></tr>

        <tr><td>Felelős kiadó:</td><td><b>Korcsák Gábor</b> ügyvezető</td></tr>
        <tr><td>Főszerkesztő:</td><td>Korcsák Gábor</td></tr>
        <tr><td>E-mail:</td><td><a href="mailto:miujsag@dunafenye.hu">miujsag@dunafenye.hu</a></td></tr>
        <tr><td class="pb-4">Ügyfélszolgálat:</td><td class="pb-4">+36-33-950 402</td></tr>

        <tr><td style="min-width: 180px;">Ajánlatkérés/Hirdetés:</td><td><a href="mailto:miujsag@dunafenye.hu">miujsag@dunafenye.hu</a></td></tr>
    </table>
{% endblock %}