{% extends "miujsag/miujsag_base.html.twig" %}

{% block pagetitle %}Információk{% endblock %}
{% block content %}
    <h4 class="py-1"><a href="{{ path('app_aszf') }}">Általános szerződési feltételek</a></h4>
    <h4 class="py-1"><a href="{{ path('app_avsz') }}">Adatvédelmi szabályzat</a></h4>
    <h4 class="py-1"><a href="{{ path('app_dijak') }}">Díjszabások</a></h4>
{% endblock %}