{# ../templates/email/register.html.twig #}
{# @var user App/Entity/User #}

{% extends 'email/e-base.html.twig' %}

{% block title %}Sikeres regisztráció!{% endblock %}

{% block content %}
    <p>Regisztrációja sikeresen megtörtént a <a href="https://miujsag.dunafenye.hu">miujsag.dunafenye.hu</a> honlapon!</p>
{% endblock %}